# A possible list of disallowed files ( Does not mean that they all exist tho just incase ppl contribute we dont get some weird configs and stuff )

zig-out
dump/*
!dump/leveldb-src/
.vscode
.cursor
.kiro
.anigravity
.cache
.zig-cache
.bun
.build
.test

server.properties
worlds/
libs/leveldb/lib/
